.header {
  margin-top: -85px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 115vh;
  width: 100%;
}

.header__heading {
  font-size: 60px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  font-family: 'Playfair Display', serif;
}

@media (max-width: 768px) {
  .header__heading {
    font-size: 50px;
  }
}

@media (max-width: 500px) {
  .header__heading {
    font-size: 37px;
    padding: 10px;
    transform: translateY(50px);
  }
}

.overlay {
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
