.shoppingCard__image {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.cards {
    height: 330px;
    border: 5px solid rgba(233, 233, 233, 0);
    border-radius: 5px;
    overflow: hidden;
    transition: all 1s;
}
.cards:hover {
    border: 5px solid #e9e9e9;;
    height: 430px;
}

.btnVisible {
    display: inline-block;
    padding: 7px 30px;
    border-radius: 20px;
    transform: scaleY(0.5);
    opacity: 0;
    transform-origin: top;
    transition: all 0.5s ease-in;
}

.cards:hover .btnVisible {
    transform-origin: top;
    opacity: 1;
    transform: scaleY(1);
}

.shoppingCard__heading {
    color: black;
}

.shoppingCard__heading:hover {
    color: #a61212;
}