.allItem__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 25px;
  margin: 20px 0 100px 0;
}

.allItem__logo {
  width: 80px;
  cursor: pointer;
  margin-bottom: 30px;
}

@media (max-width: 800px) {
  .allItem__container {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0px;
    margin: 20px 0 100px 0;
  }
  .allFood__heading {
    font-size: 40px;
  }
}
