.service {
  background-image: url(../../../image/header/header_4.jpg);
  background-color: rgba(0, 0, 0, 0.65);
  background-blend-mode: multiply;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  color: #fff;
}

.service__icon {
  font-size: 40px !important;
  color: #c99546;
}

.service__item {
  text-align: center;
  padding: 50px 30px;
}

.service__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* justify-content: space-between; */
  /* align-items: flex-start; */
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 0;
  margin-bottom: 50px;
}

@media (max-width: 860px) {
  .service__container {
    grid-template-columns: repeat(2, 1fr);
  }
  .service__item {
    padding: 20px 30px;
  }
}

@media (max-width: 500px) {
  .service__container {
    grid-template-columns: repeat(1, 1fr);
  }
  .service__item {
    padding: 20px 60px;
  }
}

.service__title {
  padding: 10px 0;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 25px;
}
