.text-primary {
  color: #a61212;
}

.text-secondary {
  color: #ff4081;
}

.font-primary {
  font-size: 50px;
  text-align: center;
  padding-bottom: 20px;
}

a,
Link {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.primary-btn {
  border: 1px solid #a61212;
  color: #000000;
  padding: 10px 30px;
  transition: all 0.5s;
}

.primary-btn:hover {
  background-color: #a61212;
  color: #fff;
}

@media (max-width: 768px) {
  .home-header {
    font-size: 50px;
  }
}
@media (max-width: 500px) {
  .home-header {
    font-size: 37px;
  }
  .primary-btn {
    padding: 5px 15px;
  }
}
