.text-primary {
  color: #a61212;
}

.text-secondary {
  color: #ff4081;
}

.font-primary {
  font-size: 50px;
  text-align: center;
  padding-bottom: 20px;
}

a,
Link {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.primary-btn {
  border: 1px solid #a61212;
  color: #000000;
  padding: 10px 30px;
  transition: all 0.5s;
}

.primary-btn:hover {
  background-color: #a61212;
  color: #fff;
}
/* 
TODO: Heading: font-family: 'Dancing Script', cursive;
TODO: Body: font-family: 'Lato', sans-serif;
TODO: Heading-sub: font-family: 'PT Sans Narrow', sans-serif;
*/
